{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}


    <h5>{{straw_message1}} {{straw_vote1}} {{straw_message2}} {{straw_vote2}} {{straw_message3}}</h5>

    <h4>Vote</h4>
    <p>
        Please, cast your vote! This vote is what will determine the decision for your group:

    </p>
  <p>
    {% formfield player.ball_vote label="I vote:" %}

    {% next_button %}

{% endblock %}
