{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Name Tag
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<p class = "text-success">
    </p>

    <div class="panel panel-success">

        <div class="panel-heading">

            <h4>In the first task you scored {{ total_payoff  }}</h4>
            <br><br>
            <h4>Please select a name that will be used when your score is shared</h4>
        </div>
    </div>
    </div>
    {% formfield player.nametag %}

    <p>
      In the second task of the experiment you will be presented with a series of two two-digit numbers (for example, 11 and 22) which you will have to add (for example, 11 + 22 = 33).
    </p>
    <p>
      Once you have entered your summation, click the <b>Next</b> button or press the <b>Enter</b> key.
    </p>
    <p>
      This part will last {{ player.task_timer }} seconds.
    </p>
    <p>
        You will get <b>1 point for each correct answer</b>.
          Your score will not decrease if you provide an incorrect answer.
    </p>


    <p>
        After you have completed this task you will will send your score to participants under a screen name for anonymity.<br>
    </p>

    {% next_button %}<br><br><br>


{% endblock %}



