{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Name Tag
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<p class = "text-success">
    </p>

    <div class="panel panel-success">

        <div class="panel-heading">
            <h4>Your score was: {{ total_payoff  }}</h4>
            <h4> Your provided name was: {{ name }}</h4>
            <br><br>
            <h4>Please select a name that will be shown to players with your score</h4>
        </div>
    </div>

    {% formfield player.nametag %}

    {% next_button %}<br><br><br>


{% endblock %}