{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}


{% block content %}


<p class = "text-success">
    </p>

    <div class="panel panel-success">

        <div class="panel-heading">
            <h4> Thanks {{ name }}</h4>
            <h6>In task A you scored {{ taskA_payoff }}</h6>
            <h6>In task B you scored {{ taskB_payoff }}</h6>
            <h4>Your score was: {{ total_payoff  }}</h4>
        </div>
    </div>

            {% next_button %}<br><br><br>

{% endblock %}
