{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task
{% endblock %}

{% block content %}

<table class = "tg" width = "800">
    <tr>
        <th class="tg-s6z2" colspan="4"><h2>Please sum the following numbers into the field below <br>and then click <b>Next</b> or press the <b>Enter</b> key.</h2>
        </th>
    </tr>
      <tr>
    <td class="tg-s6z3" width="30%">{{player.int1}} + {{player.int2}}</td>
    <td class="tg-s6z3" width="20%">=</td>
    <td class="tg-baqh" width="25%">{% formfield player.user_total with label="" %}</td>
    <td class="tg-lqy6" width="25%">{% next_button %}</td>
  </tr>
</table>

{% endblock %}
