{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Team Selection
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}



<div class="instructions well well-lg">

    <h2 class="panel-sub-heading">

    </h2>

    <link rel="stylesheet" type="text/css"
          href="{% static 'global/matrix.css' %}"/>



            <p>Based on their score in task A please select a teammate whose task B score will be used to calculate
                both of your final payoffs.
            </p>

             <p>
                Your final payoff will be the sum of your task B score and your teammates task B score.
            </p>

            <b>Please select a participant to be a member of your team.</b>

</div>

    {% formfield player.sentNames %}


    {% next_button %}<br><br><br>


{% endblock %}