{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Team Selection
{% endblock %}

{% block content %}

{% load otree_tags staticfiles %}

<p class = "text-success">
    </p>

    <div class="panel panel-success">

        <div class="panel-heading">

            <h4>

                <p>Based on their score in Task A please select a teammate whose Task B score will be used to calculate
                    both of your final payoffs.
                </p>

             <p>
                Your final payoff will be the sum of your task 2 score and your teammates task 2 score.
            </p>

            </h4>
            <h4>Please select a participant to be a member of your team.</h4>
        </div>
    </div>

    {% formfield player.sentNames %}


    {% next_button %}<br><br><br>


{% endblock %}